
/****LOGO导航区样式表****/
.header{
    padding: 18px 0 15px;
    height: 41px;
    line-height: 1.5
}
.header_nav li,.header_nav .logo{
    float: left;
}
.header_nav li{
    margin-right: 24px;
}
.logo{
    display: block;
    margin-right: 34px;
}
.logo img{
    height: 32px;;
}
.header_nav li img{
    height: 24px;
    margin-top: 4px;
}
.header_nav li a{
    color: #333;
    font-size: 16px;
    line-height: 30px;
}
.header_nav form{
    width: 318px;
    height: 28px;
    border: 1px solid #c9c9c9;
    background: #f0f0f0;
    font-size: 16px;
    border-radius: 14px;
    position: relative;
}
#txt,#btn{
    border: none;
    color: #3a3a3a;
    width: 285px;
    text-indent: 15px;
    height: 30px;
    line-height: 30px;
    background: transparent;
    vertical-align: middle;
}
#btn{
    width: 33px;
}
form i{
    width: 18px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: #353535;
    padding-right: 15px;
    font-weight: bold;
    cursor: pointer;
}
form i:hover{
    color: #787878;
}
form .tips{
    position: absolute;
    right: 33px;
    top: 0;
}
form span a{
    color: #cf0a2c;
    margin-right: 14px;
    font-size: 12px;
}
/*banner区样式表 */
.banner{
    height: 549px;
    overflow: hidden;
    position: relative;
}
.banner .fake{
    width: 100%;
    height: 480px;
    position: relative;
    z-index: 0;
}
.banner .content{
    position: relative;
}
.banner .image li{
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    display: none;
}
.image img{
    display: block;
    position: relative;
    left: 50%;
    margin-left: -970px;
}
.banner .image .show{
    display: block;
}
.dots{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 448px;
}
.dots li{
    float: left;
    border-radius: 10px;
    border: 1px solid #FFF;
    display: inline-block;
    height: 10px;
    line-height: 10px;
    margin-left: 7px;
    width: 10px;
    background-color: transparent;
}
.dots li.show{
    background: #fff;
}
.banner .banner_bg{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 72px;
    background: url(../img/index/bannerbg.png) 50% 0;
    width: 100%;
}
.banner .direction li{
    width: 80px;
    height: 80px;
    position: absolute;
    background-image: url(../img/index/icon01.svg);
}
.banner .direction #left{
    left: 204px;
    top: 199px;
    background-position: 0 -72px;
}
.banner .direction #right{
    right: 0;
    top: 199px;
    background-position: -80px -72px;
}
.banner .direction #left:hover{
    background-position: -240px -72px;
}
.banner .direction #right:hover{
    background-position: -160px -72px;
}
/* banner区域左侧导航条 */
.banner .classify{
    width: 200px;
    position: absolute;
    top: 18px;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
}
.classify .classify_con{
    width: 150px;
    height: 48px;
    margin: 0 auto;
    padding: 12px 0 13px;
    border-bottom: 1px solid rgb(196, 193, 193);
}
.classify_con h5 a{
    color: #848484;
}
.classify_con h5{
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 2px;
}
.classify_con p a{
    color: #a6a6a6;
    margin-right: 10px;
    font-size: 14px;
    line-height: 24px;
}
.classify li:hover{
    background: #fff;
}
.classify li:hover a{
    color: #333;
}
.classify li:hover .classify_con{
    border-bottom: none;
}
.classify li:first-child:hover{
    border-radius: 10px 0 0 ;
}
.classify li:last-child:hover{
    border-radius: 0 0 0 10px;
}
.classify li a:hover{
    color: #ca151d;
}
/*  主内容区 */
/*用户信息及活动栏*/
.main .info{
    width: 100%;
    height: 88px;
    border-radius: 10px;
    box-shadow: 0 2px 26px rgba(0,0,0,0.07);
    background: #fff;
    padding: 17px 0 0 26px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: -70px;
    position: relative;
    z-index: 10;
}
.main .info a:hover{
    color: #cb242b;
}
.info .left{
    width: 270px;
    height: 50px;
    border-right: 1px solid #eee;
}
.info .avater img{
    display: block;
    width: 52px;
    height: 52px;
}
.info .avater{
    margin: 0 17px 0 0;
}
.info .left h4{
    font-size: 14px;
    color: #999;
    font-weight: normal;
    line-height: 24px;
}
.info .left h4 a{
    color: #333;
}
.info .left p a{
    display: inline-block;
    width: 66px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #e47b7f;
    color: #de5b60;
    margin-right: 8px;
    margin-top: 6px;
    text-align: center;
    border-radius: 5px;
    vertical-align: middle;
}
.info .left p a:last-child{
    width: 68px;
    height: 22px;
    background: #595454;
    color: #fde4b3;
    border: none;
}
.info .left p a:first-child:hover{
    background: #de5b60;
    color: #fff;
}
.info .left p a:last-child:hover{
    background: #333;
}
.info .center{
    width: 660px;
}
.info .center ul{
    width: 624px;
    margin: 0 auto;
}
.center li{
    float: left;
}
.info li a{
    color: #777;
}
.center li a{
    display: block;
    width: 104px;
    height: 64px;
    text-align: center;
    line-height: 22px;
}
.info li a i{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-image: url(../img/index/info.png);
    background-size: 750% 100%;
}
.center ul li:nth-child(2) i{
    background-position: -40px 0;
}
.center ul li:nth-child(3) i{
    background-position: -80px 0;
}
.center ul li:nth-child(4) i{
    background-position: -120px 0;
}
.center ul li:nth-child(5) i{
    background-position: -160px 0;
}
.center ul li:nth-child(6) i{
    background-position: -200px 0;
}
.center ul li:nth-child(7) i{
    background-position: -240px 0;
}
.center ul li:nth-child(8) i{
    background-position: -280px 0;
}
.right{
    margin-top: -17px;
}
.right .notice{
    height: 43px;
    border-bottom: 1px solid #eee;
    color: #777;
    overflow: hidden;
    position: relative;
}
.right .notice h4{
    margin: 12px 8px 0 17px;
    font-size: 14px;
}
.right .notice ul{
    height: 215px;
    width: 190px;
    position: absolute;
    top: 0;
    right: 0;
}
.right .notice li{
    height: 43px;
    line-height: 43px;
    white-space: nowrap;
    font-size: 12px;
}
.active li{
    float: left;
    width: 80px;
    height: 42px;
    line-height: 42px;
}
.active li a{
    display: block;
}
.active li a i{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 2px 0 0 ;
    vertical-align: top;
}
.active ul li:first-child i{
    background-position: -728px 0;
    background-size: 1300% 200%;
}
.active ul li:nth-child(2) i{
    background-position: -744px 0;
    background-size: 1300% 200%;
}
.active ul li:nth-child(3) i{
    background-position: -761px 0;
    background-size: 1300% 200%;
}
/*用户信息商品栏下面的商品栏1--手机*/
.content_1{
    margin-top: 20px;
}
.content_1 ol{
    margin-bottom: 13px;
}
.content_1 ol li{
    width: 290px !important;
    height: 200px;
    margin-left: 13px;
}


/*公共样式*/
.main h2{
    font-size: 26px;
    line-height: 26px;
    color: #333;
    padding: 27px 0 13px 0;
    font-weight: normal; 
}
.main ol li{
    float: left;
    width: 230px;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all .2s linear 0s;
    background: #f9f9f9;
}
.main ol li a{
    display: block;
    text-align: center;
}
.main ol li:first-child{
    margin-left: 0;
}
.main ol li:hover{
    box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}
.main ol li img{
    display: block;
    width: 100%;
    height: 100%;
}
.main .content_1 li img{
    width: 100%;
    height: 100%;
    margin-top: 0;
}
/****热销商品栏***/

.hot_com .hot_content .left li{
    
    height: 592px;
}
.hot_content ol li{
    width: 230px;
    height: 290px;
    margin: 0 0 12px 10px;
}
.hot_content ol:nth-child(2) li:first-child{
    margin-left: 10px;
}
.hot_content .left li img{
    width: 100%;
    height: 100%;
    margin: 0;
}
/*公共样式*/
.main ol li img{
    width: 150px;
    height: 150px;
    margin: 35px auto 0;
}
.main li a h4{
    margin-top: 15px;
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;
    color: #3a3a3a;
}
.main li a h5{
    color: #777;
    line-height: 18px;
    margin: 2px 20px 7px;
    font-weight: 400;
    font-size: 12px;
}
.main li a p{
    color: #d0021b;
    line-height: 21px;
}

/**精品推荐****/
.recommendation h2{
    padding-bottom: 16px;
}
.recommendation ol li{
    margin: 0 5px 10px;
    border-radius: 0;
    overflow: visible;
    transition: none;
    background: #fff;
}
.recommendation ol li:hover{
    box-shadow: 0 0 0;
}
.recommendation li dl{
    height: 205px;
    padding-top: 36px;
    /* overflow: hidden; */
    box-shadow: 0 1px 8px rgba(0,0,0,0.06);
    border-radius: 10px;
    transition: all .2s linear 0s;
    margin-bottom: 9px;
    position: relative;
}
.recommendation li dl:hover{
    box-shadow:0 2px 10px rgba(0,0,0,0.15);
}
.recommendation dl dt img{
    margin-top: 0;
    margin-bottom: 19px;
}
.recommendation dl dt span{
    position: absolute;
    top: 0;
    color: #fff;
    height: 22px;
    line-height: 22px;
    padding: 0 9px;
    background: #ff6a6e;
    border-radius: 0 0 6px 6px;
    left: 50%;
    margin-left: -22px;
}
.recommendation ol li:first-child span{
    margin-left: -33px;
}
.recommendation dl dd{
    font-size: 14px;
    color: #777;
    background: #f3f3f3;
    border-radius: 0 0 10px 10px;
    line-height: 36px;
}

/***轮播**/
.main .ad,.main .ad_life,.main .ad_newCouple{
    height: 120px;
    margin: 27px 0 13px 0;
    position: relative;
}
.main .ad_newCouple{
    height: 200px;
}
.main  .image li{
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
}
.main  li img{
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0;
}
.main .ad .dots{
    top: 98px;
    right: 10px;
}
/*手机栏*/
.common h2{
    height: 32px;
    line-height: 32px;
    position: relative;
}
.common h2 a{
    font-size: 14px;
    color: #999;
    vertical-align: middle;
    margin-right: 24px;
}
.common h2 a:hover{
    color: #ca151d;
}
.common  .lookMore{
    float: right;
    margin-top: 27px;
    color: #3a3a3a;
    line-height: 32px;
    font-size: 14px;
}
.common h2 a:nth-child(1){
    margin-left: 28px;
}
.common ol li:nth-child(1) img{
    width: 100%;
    height: 100%;
    margin-top: 0;
}
.common ol li{
    height: 290px;
    margin: 0 0 12px 12px;
}
.common ol li:nth-child(5n+1){
    margin-left: 0;
}

/*智能穿戴*/

.common .con .first_li{
    width: 472px;
    margin-left: 0 !important;
}
.similarity .con li:nth-child(5n){
    margin-left: 0;
}
.similarity .con li:nth-child(5n+1){
    margin-left: 10px;
}
.main .similarity .recommendation ol li img{
    width: 120px;
    height: 120px;
    margin-bottom: 4px;

}
.similarity{
    width: 1200px;
    overflow: hidden;
    position: relative;
}
.similarity .recommendation ol li{
    width: 190px;
    height: 240px;
    margin-bottom: 10px;
}
.similarity .recommendation dl{
    width: 190px;
    height: 158px;
    padding-top: 32px;
    background: #f9f9f9;
}
.similarity .recommendation a h4{
    margin-top: 6px;
}
.similarity .recommendation ol li{
    margin-left: 12px;
}

.similarity .recommendation ol li:nth-child(6n+1){
    margin-left: 0;
}
.similarity .recommendation .house{
    width: 3600px;
}
.similarity .recommendation .watch{
    width: 2400px;
}
.arr .left,.arr .right{
    position: absolute;
    bottom: 125px;
    width: 36px;
    height: 72px;
    background-color: rgba(0, 0, 0, 0.06);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
}
.arr .left:hover{
    background-color: rgba(204, 204, 204, 0.9);
}
.arr .right:hover{
    background-color: rgba(204, 204, 204, 0.9);
}
.arr .right{
    right: 0;
    background-image: url(../img/index/右箭头.png);
}
.arr .left{
    left: 0;
    background-image: url(../img/index/左箭头.png);
    display: none;
}
